* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

html {
	min-height: 100vh;
	min-width: 100vw;
}

.nav-bar {
	width: 20%;
	height: inherit;
	min-height: 100vh;
	padding: 20px;
	list-style-type: none;
	background-color: #66a5ad;
	overflow: hidden;
}

.nav-bar ul {
	margin-bottom: 20px;
}

.nav-links {
	font-size: 20px;
	font-weight: bold;
}

li a:hover {
	background-color: #c4dfe6;
}

#content {
	width: 90%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	text-align: center;
	background-color: #c4dfe6;
	height: fit-content;
	min-height: 100vh;
}

body {
	display: flex;
	flex-direction: row;
}

.input-container {
	width: 300px;
	margin: 20px 0;
	display: flex;
	justify-content: space-between;
}

#submit-button {
	width: 150px;
	height: 50px;
	font-weight: bold;
	background-color: #66a5ad;
}

.todo-table {
	width: 1000px;
}

th,
td {
	width: 25%;
	padding: 10 px 0;
}

.table-container {
	margin: 20px;
}

.todo-table {
	border: 2px solid black;
	border-collapse: collapse;
}

thead th,
tfoot th {
	font-family: "Rock Salt", cursive;
}

th,
td {
	padding: 20px;
}

th {
	letter-spacing: 1.5px;
}

td {
	letter-spacing: 1px;
}

tr:nth-child(even) {
	background-color: #66a5ad;
}
